
/.svn
/bak

/bin/node_modules
/bin/console.log
/bin/package-lock.json

/build

/htdocs/style/css
/htdocs/packages
/htdocs/index.html

/server/bak
/server/node_modules
/server/console.log
/server/package-lock.json