
.view-top-menus {
    .main {
        .header {
            border-bottom: solid 1px #e8ecf0;

            .tabs {
                line-height: 48px;
                /*width: 248px;*/
                height: 48px;
                vertical-align: middle;
                color: #5A646E;
                overflow: hidden;
                background-color: #fff;
                display: inline-block;
                /* margin-left: 82px; */
                li {
                    margin-left: 10px;
                    height: 44px;
                    display: inline-block;
                    font-size: 16px;
                    cursor: pointer;
                    padding: 0 14px;

                    i {
                        margin-right: 5px;
                    }

                    &.on {
                        color: #61a7e5;
                        border-bottom: 4px solid #61a7e5;
                        /*transition: border-bottom 0.2s ease;*/
                    }

                    &.save {
                        font-size: 14px;
                        color: #fff;
                        background: #ffaf4a;
                        height: 30px;
                        border-radius: 4px;
                        line-height: 30px;
                        margin-top: 8px;
                        margin-right: 8px;
                        position: absolute;
                        right: 0px;

                        &:hover {
                            background: #ff9c20;
                        }
                    }
                }
            }
        }
    }
}
